/* google */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.6em;
  background-color: #f5f6f7;
  color: #000;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #000;
}

/* reset css */
input,button, select {
  cursor:pointer
}

/* member signin */
.member {
  width: 460px;
  margin: auto;
}
.member .logo {
  height: 30px;
  display: block;
  margin: 50px auto;
}

.field {
  margin: 5px 0;

}
.field b {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.member input:not(input[type=radio]),select {
  border: 1px solid #dadada;
  padding: 15px;
  width: 100%;
}
.member input:not(input[type=radio]):focus,select:focus {
  border: 1px solid #00c850;
}
#userid::placeholder {
  text-align: center;
  font-weight: 200;
}
.userpw,
.userpw-confirm {
  background-image: url(images/icon-01.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 18px;
}
.userpw {
  background-image: url(images/icon-01.png);
}
.userpw-confirm {
  background-image: url(images/icon-02.png);
}
.field.birth div {
  display: flex;
  gap: 10px;
}
.field.gender {
  margin: 20px 0;
}
.field.gender input[name=gender] {
  display: none;
}
.field label em {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -4px;
  background: url(images/radio.png);
  background-position: left;
}
input[name=gender]:checked + em {
  background-position: right;
}
.field.b small {
  color: #999;
}
.member .field .tel-number {
  width: 73%;
  margin-right: 5px;
}
.btn {
  background-color:#00c850;
  color: #fff;
  border:  none;
  padding: 15px;
}
.btn.signin {
  width: 100%;
  font-size: 15px;
}
.member-footer {
  text-align: center;
  font-size: 12px;
  margin: 17px 0;
}
.member-footer a {}
.member-footer a:hover {
  color: #00c850;
}
.member-footer div a:after {
  content: '|';
  font-size: 10px;
  color: #bbb;
  margin-right: 5px;
  padding-left: 7px;
  display: inline-block;
  transform: translateY(-2);
}
.member-footer div a:last-child:after {
  display: none;
}
.member-footer div a:nth-child(2) {
  font-weight: 500;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(images/select.png) no-repeat center right 10px;
  background-size: 15px;
}
@media (max-width: 768px) {
  .member {
    width: 100%;
  }
}